<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
  bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="unit">
      <directory>tests/DaoTest</directory>
    </testsuite>

    <testsuite name="integration">
      <directory>tests/DaoIntegrationTest</directory>
    </testsuite>
  </testsuites>

  <php>
    <!-- DAO integration tests -->
    <const name="DAO_MYSQL_HOST" value="" />
    <const name="DAO_MYSQL_PORT" value="" />
    <const name="DAO_MYSQL_NAME" value="" />

    <const name="DAO_MONGO_HOST" value="localhost" />
    <const name="DAO_MONGO_PORT" value="27017" />
    <const name="DAO_MONGO_NAME" value="" />

    <!-- NOTE: The RW user needs CREATE TABLE and DROP TABLE access -->
    <const name="DAO_MYSQL_RW_USER" value="" />
    <const name="DAO_MYSQL_RW_PASS" value="" />
    <const name="DAO_MONGO_RW_USER" value="" />
    <const name="DAO_MONGO_RW_PASS" value="" />

    <!-- NOTE: The RO user needs read access to the 'daoTest' table -->
    <const name="DAO_MYSQL_RO_USER" value="" />
    <const name="DAO_MYSQL_RO_PASS" value="" />
    <const name="DAO_MONGO_RO_USER" value="" />
    <const name="DAO_MONGO_RO_PASS" value="" />

    <const name="DAO_ELASTIC_SEARCH_HOST" value="localhost" />
    <const name="DAO_ELASTIC_SEARCH_PORT" value="9200" />
    <!-- NOTE: The index name must be lowercased -->
    <const name="DAO_ELASTIC_SEARCH_INDEX" value="" />

    <const name="DAO_MEMCACHED_HOST" value="localhost" />
    <const name="DAO_MEMCACHED_PORT" value="11211" />
  </php>

  <logging>
    <log type="coverage-html" target="build/coverage" title="Code coverage for html-validator" charset="UTF-8" yui="true" highlight="true" />
    <log type="coverage-clover" target="build/logs/clover.xml" />
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
    <log type="testdox-html" target="build/logs/testdox.html" />
    <log type="testdox-text" target="build/logs/testdox.txt" />
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
